notebooks/
data/
.uploads/
.venv/
.mypy_cache/
.ruff_cache/
.env
sqlite-db/
temp/
google-credentials.json
docker-compose*
.docker_data/
docs/
surreal_data/
surreal-data/
notebook_data/
temp/
*.env
.mypy_cache/
.ruff_cache/
.pytest_cache
.ruff_cache
notebooks/
