{% include 'patterns/default/common_tranformation_instructions.jinja' %}

Please clean-up the following text, fixing the paragraphs, ponctuation, etc. 
If you find any word or name mispellings, feel free to correct.

{{input_text}}
