{% include 'patterns/common_text.jinja' %}

Please clean-up the following text, fixing the paragraphs, ponctuation, etc. 
If you find any word or name mispellings, feel free to correct.

{{input_text}}
